body{
    color:darkgoldenrod;
    background-image: url("dark souls walopa.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header{
    background-color: rgba(0, 0, 0, 0.65);
    border: solid 2px darkgray;
    font-size: 30px;
    padding-left: 15px;
}

section{
    background-color: rgba(0, 0, 0, 0.65);
    border: solid 2px darkgray;
    padding-bottom: 80px;
    margin-top: 40;
}

h1{
    padding-left: 370px;
    font-size: 30px;
}



 img {
    opacity: 0.8;
    height: 250px;
    margin: 10px;
}

 img:hover {
    opacity: 1.0;
    border: 3px solid darkgoldenrod;

}

h2{
    padding-left: 10px;
}
